body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 400px; /* Fixed width */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
    position: relative; /* Added position relative to allow absolute positioning of icons */
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 25px); /* Adjusted width to accommodate icon */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 35px; /* Added padding to the left for the icon */
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
    color: #aaa; /* Placeholder text color */
}

.login-form .form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.login-form button {
    background-color: #007bff; /* Changed button color */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #0056b3; /* Changed button hover color */
}
