/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Landing Page */
.landing-header {
    background-color: #007bff;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.landing-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.landing-header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

/* Create Event Form */
.create-event {
    padding: 50px 0;
}

.create-event h2 {
    text-align: center;
    margin-bottom: 30px;
}

.event-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* User Flow */
.user-flow {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.user-flow h2 {
    margin-bottom: 20px;
}

.user-flow img {
    max-width: 100%;
    height: auto;
}
