/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header img {
    width: 150px;
    height: auto;
    float: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('event-bg.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.event-details {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.event-details h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.social-icons {
    list-style-type: none;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons li img {
    width: 30px;
    height: 30px;
}
/* Logo styling */
header img {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left; /* Float the logo to the left */
    margin-right: 20px; /* Add some margin to separate from the navigation */
}

